.box5{
    border:1px solid white;
    width: 35%;
    height: 50vh;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 10px rgb(219, 217, 217);
    margin: 30px 0px;
    padding: 40px;
}
.btnnn{
    margin: 40px 0px;
}