.card {

    display: flex;
    align-items: center;
    justify-content: center;
}

.card img {
    
    height: 50px;
    width: 50px;

}

.card h3 {
    font-size: 25px;color: rgb(44, 197, 243);
}
.clas {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}
.clas:hover{color: rgb(241, 182, 18);
transition: 0.5s ease-in-out;}